@import "tailwindcss";

/* Global styles */

:root {
  --primary: #00AD7C;
  --secondary: #009369;
}

/* Button styles */
button,a,[role="button"] {
  @apply hover:cursor-pointer ;

}

button {
  @apply text-white font-semibold rounded-md px-6 py-3 bg-[var(--primary)] hover:bg-[var(--secondary)] transition-colors duration-300;
}


.btn-secondary {
  @apply font-semibold rounded-md px-6 py-3 bg-gray-200 hover:bg-[var(--primary)] text-black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}